<div class="container">
  <h1><strong>Angular</strong> — Content Projection</h1>

  <p class="lead">
    My favorite number:
    <strong>{{ favoriteNumber || 'Open popup and enter number' }}</strong>
  </p>

  <button (click)="togglePopupVisibility()" class="btn btn-primary">Popup Toggle</button>

  <app-popup *ngIf="isPopupDisplayed">
    <h3 class="title">Hello world!</h3>
    <p class="body">
      <input #inp (keyup)="updateFavoriteNumber(inp.value)">
    </p>
    <div class="footer">
      <button class="btn btn-primary" (click)="togglePopupVisibility()">OK</button>
    </div>
  </app-popup>
</div>
